<h1 style="color:cadetblue;" h1 style="text-align:center;">This is my hero</h1> <br>
<h2 style="font-family:courier;" h2 style="text-align:center;">My hero is my brother.</h2> <br>
<p style="color:cornflowerblue;" p style="font-size:150%;">David Lee is 17 years old and an upcoming senior at Valencia High School.</p>
<p style="color:cornflowerblue;" p style="font-size:150%;">My brother is my hero, because he endlessly encourages me and motivates me to do my best in all my works. He supports me and backs me up in any situation.</p>

